.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 60px;
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 0px;
  color: white;
}

.App-intro {
  font-size: xx-large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Button {
  width:150px;
  hight:120px;
}

.App-background {
  position: relative;
  height: 100%;
  background-image: -webkit-radial-gradient(circle farthest-corner at 62% 70%, transparent, rgba(64, 64, 64, .7) 34%), url("http://uploads.webflow.com/56f679d988dad33d7badd5da/56f6be66204063eb5467ee52_mesh.png"), url("http://uploads.webflow.com/56f679d988dad33d7badd5da/56f736edf58de1387bbbea99_Small%20Hero.jpeg");
  background-image: radial-gradient(circle farthest-corner at 62% 70%, transparent, rgba(64, 64, 64, .7) 34%), url("http://uploads.webflow.com/56f679d988dad33d7badd5da/56f6be66204063eb5467ee52_mesh.png"), url("http://uploads.webflow.com/56f679d988dad33d7badd5da/56f736edf58de1387bbbea99_Small%20Hero.jpeg");
  background-position: 0px 0px, 0px 0px, 0px 0px;
  background-size: auto, 2px, cover;
  background-repeat: repeat, repeat, no-repeat;
  height:600px
}

.App-header-row {
  height:200px;
  text-align: center;
}

.App-middle-row{
  height:200px;
  text-align: left;
  color: whitesmoke;
  width: 100%;
  background:gray;
  opacity:.65
  
}

.App-header-grid{
  width: 100%;
  padding-right: 0px;
}

.App-row-image{
  padding-left: 100px;
  width:400px;
  text-align: center;
  z-index:999;
}

.App-middle-row-text{
  padding-left: 100px;
  width: 100%;
  text-align: left;
}